* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background-color: lightgreen;
  width: 100%;
}
h1 {
  margin: 30px;
}

.App,
.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.list {
  width: 700px;
  border: 1px solid black;
}

.search input {
  width: 650px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 30px;
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-block {
  width: 650px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid #000;
  background-color: #ddd;
}

.user-block:last-of-type {
  margin-bottom: 30px;
}

.user-block img {
  max-width: 50px;
}

.details {
  width: 250px;
}

.user-block div {
  display: inline-block;
}
